.container-dashboard {
    width: 92vw;
    position: fixed;
    left: 90px;
    height: 100%;
    padding:  30px 55px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .graphique {
    background-color: lightgray;
    width: 100%;
    height: 37vh;
    border-radius: 15px;
  }

  .card-chart {
    border-radius: 8px; 
    padding: 15px; /* Espace intérieur de la carte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin-top: 30px;
    width: 27%;
    height: 27vh;
    margin-right: 18px;
  }

  .side-card {
    display:flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 15px;
    background-color: lightgray;
    margin-bottom: 60px;
    width: 180px;
    margin-left: 30px;

  }

  .side-logo img {
    max-width: 70px;
  }

  .side-text {

  }

  .card-side {
    /* display:flex; */
  }