.recharts-layer .recharts-pie .recharts-text .recharts-label tspan{
    width: 30%;
}

.recharts-text .recharts-label tspan {

}

.profile-average {
    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    height: 263px;
    width: 258px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tooltip-overlay {
    background-color: rgb(0 0 0 / 15%);
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    pointer-events: all;
}